@tailwind base;
@tailwind components;
@tailwind utilities;


/********************************* ANIMATION MENU DEROULANT MOBILE *************************************/

.menu-enter {
    transform: translateY(150%);
}

.menu-enter-active {
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}

.menu-exit {
    transform: translateY(0);
}

.menu-exit-active {
    transform: translateY(150%);
    transition: transform 1s ease-in-out;
}

/******************************** ANIMATION MENU DEROULANT DESKTOP ******************************************/

.desktop-enter {
    transform: translateX(150%);
}

.desktop-enter-active {
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

.desktop-exit {
    transform: translateX(0);
}

.desktop-exit-active {
    transform: translateX(150%);
    transition: transform 1s ease-in-out;
}

/**************************************************************************/

@media (max-width: 1020px) {
    body {
        padding: 0;
        background-color: white;
    }
    #root{
        box-shadow: none;
    }
    
}


/******************************** ANIMATION HERO ******************************************/

.fade-in {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 2s ease-out forwards;
}

.fade-in2 {
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInUp 2s ease-out forwards;
}

.fade-in3 {
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp2 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp3 {
    to {
        opacity: 0.5;
        transform: translateY(0);
    }
}

/******************************** FONT FAMILY ******************************************/


#finesse{
    font-family: "Tangerine", cursive;
}

#font-menu{
    font-family: 'Bowlby One SC', sans-serif;
}

body{
    font-family: 'Quicksand';
    overflow-x: hidden;
}

#root{
    overflow-x: hidden;
}
/******************************** ANIMATION DESCRIPTION ******************************************/

.fade-left {
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeInleft 2s ease-out forwards;
}

@keyframes fadeInleft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-right {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeInRight 3s ease-out forwards;
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/******************************** BACKGROUND ******************************************/


#carousel{
    background-image: url("./assets/peinture2.png");
    background-position: center;
    background-size: cover;
}

#hero{
    background-image: url('./assets/hero3.jpg');
    background-position: center;
    background-size: cover;
}

#root{
    box-shadow: 10px 10px 20px black;
}

#parcours{
    background-image: url('./assets/pexels-katerina-holmes-5905710.jpg');
    background-position: center;
    background-size: cover;

}

.transition-bg {
    transition: background-color 1s ease, color 1s ease; /* 1s est la durée de la transition, vous pouvez ajuster selon vos préférences *//* 1s est la durée de la transition, vous pouvez ajuster selon vos préférences */
}



/******************************** ANIMATION NOS SERVICES HOMEPAGE ******************************************/

/******************* ENTREE *******************/
  
.slideInRight {
    opacity: 1;
    transform: translateX(0);
}

.slideInRight2 {
    opacity: 1;
    transform: translateY(0);
}

.slideInRight3 {
    opacity: 1;
    transform: translateX(0);
}

/******************* SORTIE *******************/

.slideOffRight1 {
    opacity: 0;
    transform: translateX(100%);
}

.slideOffRight2 {
    opacity: 0;
    transform: translateY(100%);
}

.slideOffRight3 {
    opacity: 0;
    transform: translateX(100%);
}

/************* ANIMATION ENTREE ***************/

.slideInRight {
    animation: slideInRightAnimation 1s ease-out;
  }

.slideInRight2 {
    animation: slideInRightAnimation2 1s ease-out;
}

.slideInRight3 {
    animation: slideInRightAnimation3 1s ease-out;
}

/************* ANIMATION SORTIE ***************/

.slideOffRight1 {
    animation: slideoffRightAnimation1 1s ease-out;
}

.slideOffRight2 {
    animation: slideoffRightAnimation2 1s ease-out;
}

.slideOffRight3 {
    animation: slideoffRightAnimation3 1s ease-out;
}

/************* ANIMATION KEYFRAMES ***************/
  
@keyframes slideInRightAnimation {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInRightAnimation2 {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slideInRightAnimation3 {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideoffRightAnimation3 {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
}

@keyframes slideoffRightAnimation2 {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
}

@keyframes slideoffRightAnimation1 {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
}

/******************************** ANIMATION NOS SERVICES PAGE SERVICES ******************************************/

