@tailwind base;
@tailwind components;
@tailwind utilities;


/********************************* ANIMATION MENU DEROULANT MOBILE *************************************/

.menu-enter {
    transform: translateY(150%);
}

.menu-enter-active {
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}

.menu-exit {
    transform: translateY(0);
}

.menu-exit-active {
    transform: translateY(150%);
    transition: transform 1s ease-in-out;
}

/******************************** ANIMATION MENU DEROULANT DESKTOP ******************************************/

.desktop-enter {
    transform: translateX(150%);
}

.desktop-enter-active {
    transform: translateX(0);
    transition: transform 1s ease-in-out;
}

.desktop-exit {
    transform: translateX(0);
}

.desktop-exit-active {
    transform: translateX(150%);
    transition: transform 1s ease-in-out;
}

/**************************************************************************/

@media (max-width: 1020px) {
    body {
        padding: 0;
        background-color: white;
    }
    #root{
        box-shadow: none;
    }
    
}


/******************************** ANIMATION HERO ******************************************/

.typing {
    display: inline-block;
    overflow: hidden;
    animation: typing 2s steps(40, end) forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

.fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}

.fade-in2 {
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInUp 2s ease-out forwards;
}

.fade-in3 {
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes fadeInUp2 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp3 {
    to {
        opacity: 0.5;
        transform: translateY(0);
    }
}

/******************************** FONT FAMILY ******************************************/


#finesse{
    font-family: "Bowlby One SC", cursive;
}

#font-menu{
    font-family: 'Bowlby One SC', sans-serif;
}

#font-price{
    font-family: 'Bowlby One SC', sans-serif;
    /* text-shadow: black 0px 0px 5px; */
}

.shadowtext{
    text-shadow: white 0px 0px 20px;
}

/* body{
    font-family: "Source Sans 3", sans-serif;
    position: relative;
    overflow-x: hidden;
} */

#digital{
    font-family: 'Permanent Marker', sans-serif;
}

#title{
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    text-shadow: #ffffff 0px 0px 10px;
}

#subtitle{
    font-family: 'Quicksand', sans-serif;
}

#title2{
    font-family: 'Satisfy', sans-serif;
}

#title-help{
    line-height: 1.1;
    font-weight: bold;
    color: #041e42;
    text-transform: capitalize;
}

#name:focus{
    border-color: #188fa7;
}

#message:focus{
    border-color: #188fa7;
}

/******************************** ANIMATION DESCRIPTION ******************************************/

.fade-left {
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeInleft 2s ease-out forwards;
}

@keyframes fadeInleft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-right {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeInRight 3s ease-out forwards;
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/******************************** BACKGROUND ******************************************/


#carousel{
    background-image: url("./assets/peinture2.png");
    background-position: center;
    background-size: cover;
}

#hero{
    background-image: url('./assets/meuf.png');
    background-position: center;
    background-size: cover;
}

@media (max-width: 1020px) {
    #hero {
        background-image: url('./assets/meuf5.png');
    }
}



/* #root{
    box-shadow: 10px 10px 20px black;
} */

#parcours{
    background-image: url('./assets/pexels-katerina-holmes-5905710.jpg');
    background-position: center;
    background-size: cover;
}

.transition-bg {
    transition: background-color 1s ease, color 1s ease; /* 1s est la durée de la transition, vous pouvez ajuster selon vos préférences *//* 1s est la durée de la transition, vous pouvez ajuster selon vos préférences */
}

#equipe_contact{
    background-image: url('./assets/equipe_contact.jpg');
    background-position: center;
    background-size: cover;
}

#page4bg{
    background-image: url('./assets/triangle_fond1.png');
    background-position: left;
    background-size:contain;
    background-repeat: no-repeat;
}

#page2{
    background-image: url('./assets/triangle_fond2.png');
    background-position: right;
    background-size:contain;
    background-repeat: no-repeat;
}

#question{
    background-image: url('./assets/question.jpg');
    background-position: center;
    background-size: cover;
}

#bg_equipe{
    background-image: url('./assets/bg_equipe.jpg');
    background-position: center;
    background-size: cover;
}

/* #price{
    background-image: url('./assets/83.jpg');
    background-position: bottom;
    background-size: cover;
} */

#bg-creation{
    background-image: url('./assets/bg-creation.jpg');
    background-position: top;
    background-size: cover;
}

#bg-creation2{
    background-image: url('./assets/111994.jpg');
    background-position: top;
    background-size: cover;
}

#bgcreation3{
    background-image: url('./assets/banniere_contat.svg');
    background-position: center;
    background-size: cover;
}

@media (max-width: 1020px) {
    #bgcreation3 {
        background-position: left;
    }
}

#contact_bg{
    background-image: url('./assets/40001.jpg');
    background-position: center;
    background-size: cover;
}

#ordi{
    background-image: url('./assets/ordi.jpg');
    background-position: center;
    background-size: cover;

}

#img_service1:hover{
    scale: 1.2;
    filter: brightness(60%);
}

#img_service1{
    transition: all 0.8s;
}

#img_serviceMobile{
    filter: brightness(40%);
}

#img_serviceMobile:hover{
    scale: 1.2;
    filter: brightness(40%);
}



/******************************** ANIMATION NOS SERVICES HOMEPAGE ******************************************/

/******************* ENTREE *******************/
  
.slideInRight {
    opacity: 1;
    transform: translateX(0);
}

.slideInRight2 {
    opacity: 1;
    transform: translateY(0);
}

.slideInRight3 {
    opacity: 1;
    transform: translateX(0);
}

/******************* SORTIE *******************/

.slideOffRight1 {
    opacity: 0;
    transform: translateX(100%);
}

.slideOffRight2 {
    opacity: 0;
    transform: translateY(100%);
}

.slideOffRight3 {
    opacity: 0;
    transform: translateX(100%);
}

/************* ANIMATION ENTREE ***************/

.slideInRight {
    animation: slideInRightAnimation 1s ease-out;
  }

.slideInRight2 {
    animation: slideInRightAnimation2 1s ease-out;
}

.slideInRight3 {
    animation: slideInRightAnimation3 1s ease-out;
}

/************* ANIMATION SORTIE ***************/

.slideOffRight1 {
    animation: slideoffRightAnimation1 1s ease-out;
}

.slideOffRight2 {
    animation: slideoffRightAnimation2 1s ease-out;
}

.slideOffRight3 {
    animation: slideoffRightAnimation3 1s ease-out;
}

/************* ANIMATION KEYFRAMES ***************/
  
@keyframes slideInRightAnimation {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInRightAnimation2 {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slideInRightAnimation3 {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideoffRightAnimation3 {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
}

@keyframes slideoffRightAnimation2 {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
}

@keyframes slideoffRightAnimation1 {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
}

/******************************** ANIMATION NOS SERVICES PAGE SERVICES ******************************************/

#contactPage{
    background-image: url('./assets/call.jpg');
    background-position: center;
    background-size: cover;
}

#servicesPage{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

/************************************** SLIDER HOMEPAGE ************************************/

/* .page{
    min-width: 100%;
    min-height: 100vh;
} */

#scroll{
    position: absolute;
    height: 5px;
    width: 200px;
    background-color: black;
    top: 0;
    left: 0;
}

#blur{
    background-image: url('./assets/blur.jpg');
    background-position: center;
    background-size: cover;
}


/* .box {
    width: 20vw;
    height: 300px;
    perspective: 1000px;
    margin: 15px;
} */

  

/* ************  GSAP  ************** */